<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>User Management Portal</h5>
      <small>{{pageTitle}}</small>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- nav bar -->
  <nav [style]="navWidth" class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <div class="nav-btn-wrapper">
        <a class="nav-users-btn nav-item nav-link active ml-1" data-toggle="tab" routerLink="/user/management">
          <fa-icon [icon]="faUsers"></fa-icon>
          Users
        </a>
        <a class="nav-item nav-link ml-3" data-toggle="tab">
          <fa-icon [icon]="faCogs"></fa-icon>
          Settings
        </a>
        </div>
        <a routerLink="/user/profile" class="user-icon nav-item nav-link move-right mr-3" data-toggle="tab">
          Welcome, {{username}}
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
      </div>
    </div>
  </nav>
</div>
