#close-modal-btn {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.profile-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
