<app-header [username]="username"></app-header>
<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2 class="table-heading">User <b>Management</b></h2>
          </div>
          <div class="col-sm-7">
            <a href="#" class="btn btn-secondary fa-plus">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span>Add New User</span></a>
            <a href="#" class="btn btn-secondary excel-btn">
              <fa-icon [icon]="faExcel"></fa-icon>
              <span>Export to Excel</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Avatar</th>
          <th>Name</th>
          <th>Date Created</th>
          <th>Role</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="onSelectUser(user)" *ngFor="let user of users; index as id">
          <td>{{id + 1}}</td>
          <td><a href="#"><img src="{{user.profileImageUrl}}" class="avatar" alt="Avatar"></a></td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.joinDate}}</td>
          <td>{{user.role}}</td>
          <td><span class="status text-success">
            <span class="active-status">&bull;</span>
          </span>Active
          </td>
          <td>
            <a href="#" class="settings" title="Settings" data-toggle="tooltip">
              <fa-icon [icon]="faWrench"></fa-icon>
            </a>
            <a href="#" class="delete" title="Delete" data-toggle="tooltip">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal"></button>
    <button [hidden]="true" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal"></button>
  </div>
</div>


<app-user-modal [selectedUser]="selectedUser"></app-user-modal>
